<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

  <ion-row class="">
    <ion-col class="" size="12">
      <div class="ion-padding">
        <div class="center-content">
          <h1>Commencer un duel</h1>
        </div>
      </div>
    </ion-col>
  </ion-row>
  
    
    <!-- Formulaire -->
    <form [formGroup]="formInfo" (ngSubmit)="validateForm()">

    <!-- Choix du pseudo -->
    <ion-row class="">
      <ion-col class="" size="12">
        <div class="center-content ion-padding">
          <div class="pseudo-div">
            <h3>Choisissez un pseudo</h3>
            <ion-input class="ion-text-center" formControlName="pseudo" placeholder="Entrer votre pseudo"></ion-input>
          </div>
        </div>
      </ion-col>
    </ion-row>
    
    <!-- Envoi du formulaire -->
    <ion-row class="">
      <ion-col class="" size="12">
        <div class="center-content ion-padding">
          <div class="pseudo-div">
            <div>
              <ion-button size="large" type="submit" color="tertiary" shape="round">Commencer</ion-button>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    
    <!-- Les erreurs -->
    <div class="center-content">
      <p class="error ion-padding" *ngIf="errorControl.pseudo.errors?.required">
        Allez un petit effort !
      </p>
      <p class="error ion-padding" *ngIf="errorControl.pseudo.errors?.minlength">
        Au moins 3 caractères svp 
      </p>
    </div>
  </form>
</div>
</ion-content>
