<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<!-- ======================== Partie Question ======================== -->
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Votre score {{user.scoreTotal}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h3>Question {{questionNumber}}</h3>
      <div class="question-div">
        <p [innerHTML]="question.question"></p>
      </div>
      
      
      <div class="answer-button">
        <ion-button [disabled]="disableAnswer" *ngFor="let reponse of listReponse" [color]="showAnswerColor ? reponse.color : 'primary' " expand="block" (click)="submitAnswer(reponse.text)" shape="round" [innerHTML]="reponse.text"></ion-button>
      </div>
      
      <div>
        <ion-button *ngIf="ansmwerSubmitted" (click)="nextQuestion()"  shape="round">Question suivante</ion-button>
        <ion-button *ngIf="ansmwerSubmitted" (click)="getAnecdote(anecdote)"  shape="round">Voir l'anecdote</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

