<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>Résultat du quizz : {{quizzScore}}</ion-col>
            <ion-col>Score Total : {{totalScore}}</ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-button color="success" expand="block" (click)="playAgain()">Rejouer</ion-button>
                <ion-button color="success" expand="block" (click)="goToMenu()">Menu</ion-button>
                </ion-col>
        </ion-row>
    </ion-grid> 
  </ion-content> 
  