<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-row class="">
    <ion-col class="" size="12">
      <div class="ion-padding">
        <ion-img [src]="'assets/img/' + brainPic"></ion-img>
      </div>
    </ion-col>
  </ion-row>

  <div class="ion-padding home-app-title">
    <h1>{{content.title}}</h1>
  </div>

  <ion-row *ngFor="let slogan of content.slogan" class="">
    <ion-col class="" size="12">
      <div class="slogan-content slogan1 ion-padding ion-text-left" text-align>
        <h3 class="border-slogan">{{slogan.title}}</h3>
        <p>{{slogan.content}}</p>
        <ion-button *ngIf="slogan.button" color="tertiary" shape="round">{{slogan.button}}</ion-button>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="">
    <ion-col class="slogan-content ion-padding" size="12">
        <ion-button  routerLink="/pseudo-choice" size="large" fill="outline" color="tertiary" shape="round">{{content.start}}</ion-button>
    </ion-col>
  </ion-row>


</ion-content>
