<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1>Ok {{user.pseudo}}, choisi ton concurrent</h1>
  </div>


  <ion-card *ngFor="let character of characters">
    <ion-card-title>{{character.name}}</ion-card-title>
    <ion-img class="dual-choice-pic" [src]="'assets/img/' + character.image1"></ion-img>
    <!-- Liste des concurrents -->
    <ion-card-content>
      <ion-row>
        <div class="card-button">
          <ion-button color="tertiary" fill="solid" (click)="getQuiz(character.id)">Jouer</ion-button>
        </div>
        
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
