
<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title slot="start">C D L</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <!-- Liste du Menu -->
        <ion-list id="inbox-list">
          <ion-list-header>Choc des Lumieres</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <!-- Accueil -->
            <ion-item routerDirection="root" routerLink="home" lines="none" detail="false">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>Accueil</ion-label>
            </ion-item>
            <!-- Duel -->
            <ion-item routerDirection="root" routerLink="pseudo-choice" lines="none" detail="false" >
              <ion-icon slot="start" name="pseudo-choice"></ion-icon>
              <ion-label>Duel</ion-label>
            </ion-item>
            <!-- Scores -->
            <ion-item routerDirection="root" routerLink="score" lines="none" detail="false">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>Mes scores</ion-label>
            </ion-item>
            <!-- Concurrents -->
            <ion-item routerDirection="root" routerLink="character" lines="none" detail="false">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>Concurrents</ion-label>
            </ion-item>
            <!-- Infos -->
            <ion-item routerDirection="root" routerLink="infos" lines="none" detail="false">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>Infos</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
